*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html, body{
   background: #000 url('../../assets/images/bg.jpg') no-repeat center center/cover;
   height: 100vh;
   border: 5px solid black;
   font-family: Arial, Helvetica, sans-serif;
}



.cards{
   cursor: pointer;
   background-color: transparent;
   height: 300px;
   perspective: 1000px;
}
.cards{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.card img {
   width: 100%;
   height: 300px;
   object-fit: cover;
}

.card-back{
   background-color: #333;
   color: #fff;
   padding: 20px;
}

.card li{
   list-style: none;
   padding-bottom: 8px;
}

.card-inner{
   position: relative;
   width: 100%;
   height: 100%;
   transition: transform 0.8s;
}

.container{
   max-width: 1100px;
   margin: auto;
   padding: 0 20px;
}

header {
   height: 200px;
   text-align: center;
}

header img{
   width: 200px;
}

input[type='text']{
   display: block;
   padding: 10px;
   font-size: 17px;
   margin: auto;
   border: 0;
   border-radius: 5px;
   width: 60%;
}


.search {
   height: 100px;
}

@media (max-width:800px){
   .cards{
       grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width:500px){
   .cards{
       grid-template-columns: 1fr;
   }
}